<% if !notice.nil? %>
    <div class="grid-container">    
        <ul>
        <% notice.each do |key, value|%>
            <li><%= value %></li>
        <% end %>
        </ul>
    </div>    
<% end %>

<div class="grid-container">
    <%= form_tag "/load", multipart: true do %>
        <%= file_field_tag :file, accept: '.csv', onchange:"load(this);"%>
        <%= submit_tag "Enviar CSV", disabled: true, id:"submit"%>
    <% end %>
</div>

<div id="csv" class="grid-container">
    <div class="callout">
    <p id="text"> </p>
    </div>
</div>




<div class="grid-container">
    <table>
    <thead>
    <tr>
        <th>Usuário</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
        <% @users.each do |user|%>
            <tr>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
            </tr>
        <% end %>
    </tbody>
    </table>
</div>

